.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}


.icon{
    /*background-color: #3b8070;*/
    font-size: 22px;
    margin-right: 14px;
}

@keyframes message {
    0% {
        opacity: 0;
        transform: translateY(-70px) translateX(-50%);
    }
    18%{
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    82%{
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateY(-70px) translateX(-50%);
    }
}