.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}

/*关于message里的icon样式*/
.icon{
    font-size: 22px;
    margin-right: 10px;
    margin-left: -6px;
}
.white{
    color: white
}
.icon-fail{
    color: #ff2200;
}
.icon-warn{
    color: #ffd500;
}
.icon-success{
    color: #40ff32;
}
.icon-help{
    color: #b300ff;
}

/* 转圈圈animate */
@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}