.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}


.icon{
    /*background-color: #3b8070;*/
    font-size: 22px;
    margin-right: 10px;
    margin-left: -6px;
}
.icon-fail{
    color: #ff2200;
}
.icon-warn{
    color: #ffd500;
}
.icon-success{
    color: #40ff32;
}
.icon-help{
    color: #b300ff;
}

/* 转圈圈animate */
@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* message弹窗animate */
@keyframes message {
    0% {
        opacity: 0;
        transform: translateY(-70px) translateX(-50%);
    }
    18%{
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    82%{
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateY(-70px) translateX(-50%);
    }
}